<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password Modal Component</title>
</head>
<body>
<div id="changePasswordModal" class="modal" th:fragment="changePasswordModal">
    <div class="modal-header">
        <h4 class="center-align" data-th-text="#{change-password-modal.title}"></h4>
    </div>
    <div class="modal-body">
        <div>
            <div>
                <label for="account-password-input" class="bold" data-th-text="#{change-password-modal.new}"></label>
                <label class="asterisk material-icons small-text-nm">emergency</label>
                <input id="account-password-input" type="password" data-TestId="change-password-input">
            </div>
            <div>
                <label for="account-password-retype" class="bold" data-th-text="#{change-password-modal.retype}"></label>
                <label class="asterisk material-icons small-text-nm">emergency</label>
                <input id="account-password-retype" type="password" data-TestId="change-password-retype">
            </div>
            <p id="account-password-nomatch" class="red-text" data-th-text="#{change-password-modal.nomatch}" hidden data-TestId="change-password-nomatch"></p>
            <p id="account-password-changed" class="green-text" data-th-text="#{change-password-modal.changed}" hidden data-TestId="change-password-changed"></p>
            <div class="margin-top-16">
                <button href="#" data-TestId="confirm-change-password-button" onClick="changePassword()" data-th-text="#{change-password-modal.button}" class="btn waves-effect waves-light full-width red white-text"></button>
            </div>
        </div>
    </div>
    <a href="#!" class="modal-close corner-close"><i class="material-icons small">close</i></a>
</div>
</body>
</html>