<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SMS Number Input Modal Component</title>
</head>
<body>
<div id="login-phone" class="loginForm" style="display:none;" th:fragment="comingSoonModal">
    <h6>Coming soon.</h6>
    <div class="row s12">
        <p><b>Please log in with email.</b></p>
        <div class="s12">
            <button class="btn toggleLoginFormNoFormat waves-effect waves-light col s12">
                OK
            </button>
        </div>
    </div>
    <p class="right-align toggleLoginForm">Use email</p>
</div>
</body>
</html>