<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Password Input Modal Component</title>
</head>
<body>
<div id="login-password" class="loginForm multi-modal" style="display:none;" th:fragment="passwordModal">
  <div class="modal-header">
    <h4 data-th-text="#{password-input.title}"></h4>
  </div>
  <div class="modal-body">
    <form class="col s12" id="add-password-form" name="password-form">
      <div class="row">
        <div class="input-field col s12">
          <div>
            <label for="username" data-th-text="#{password-input.username-label}"></label>
            <input id="username" data-testid="username-input" type="text" name="username" inputmode="text" class="validate input-field-modal">
          </div>
          <br />
          <div>
            <label for="password" data-th-text="#{password-input.password-label}"></label>
            <input id="password" data-testid="password-input" type="text" name="password" inputmode="text" class="validate input-field-modal">
          </div>
        </div>
        <div class="col s12" th:switch="${modalUseType}">
          <button th:case="'LOGIN'" th:id="password-submit" class="btn waves-effect waves-light col s12" type="submit" name="action" data-th-text="#{password-input.login}" data-testid="password-submit"></button>
        </div>
        <div>
          <p id="password-incorrect" class="red-text" data-th-text="#{password-input.incorrect-password}" hidden data-TestId="password-input-incorrect-message"></p>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer" th:if="${passwordEnabled}">
    <button class="toggleForm" onclick="toggleMultiModal('#login-email')" data-testid="switch-button-email" data-th-text="#{sms-input.use-email}"></button>
    <button class="toggleForm" onclick="toggleMultiModal('#login-phone')" data-testid="switch-button-phone" data-th-text="#{email-input.use-phone}"></button>
  </div>
</div>
</body>
</html>