.passkey-wallet-phrase {
  .wallet-phrase-title {
    display: flex;
  }
  .wallet-phrase-benefit {
    .wallet-phrase-benefit-list li {
      list-style-type: disc;
    }
  }
}

.passkey-wallet-create {
  .passkey-create-benefit {
    .passkey-create-benefit-list li {
      list-style-type: disc;
    }
  }
}

.passkey-wallet-finished {
  #passkey-finished-submit {
    box-sizing: border-box;
  }
}

.passkey-wallet-recovery {
  .passkey-wallet-recovery-iframe {
    height: 52px;
    width: 100%;
  }
  .passkey-wallet-recovery-iframe-error {
    color: $error-color;
  }
}

.iframe-modal {
  iframe {
    width: 100%;
    max-width: 350px;
    height: 190px;
    border: 0;
  }
  iframe.iframe-shrink {
    width: 100%;
    max-width: 100%;
    height: 70px;
  }
  .modal-footer {
    padding: 0;
  }
}
.registration-iframe {
  background-color: $neutral-cream;
  .iframe-seed-phrase-list {

    @media #{$extra-small-and-down} {
      @include padding-left-32;
      li {
        list-style: decimal;
        @include small-text-no-margin;
        @include padding-bottom-16;
      }
    }
    @media #{$small-and-up} {
      @include padding-left-56;
      li {
        list-style: decimal;
        @include padding-bottom-16;
      }
    }
  }
  .iframe-passkey-start {
    .iframe-passkey-start-button {
      @include medium-text;
      position: absolute;
      right:    0;
      bottom:   0;
    }
  }
  .iframe-wallet-recovery-textarea {
      box-sizing: border-box;
      word-break: break-word;
  }
}
