<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- BASIC -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Amplica Authentication Code Email Sent</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link th:href="@{~/css/materialize.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script th:src="@{~/js/materialize.js(BUILD_NUMBER=${BUILD_NUMBER})}"></script>
    <script th:src="@{~/js/common.js(BUILD_NUMBER=${BUILD_NUMBER})}"></script>
    <script th:src="@{~/js/bundle/errorsBundle.js(BUILD_NUMBER=${BUILD_NUMBER})}"></script>
    <!-- Sentry browser javascript -->
    <script th:src="@{~/js/bundle/sentryBundle.js(BUILD_NUMBER=${BUILD_NUMBER})}"></script>
    <script>
        const sentryEnv = "[[${sentryEnv}]]";
        const sentryRelease = "[[${sentryRelease}]]"
        SENTRY.configure(sentryEnv, sentryRelease)
    </script>
    <script type="text/javascript">
        const messages = parseMessages("[[${messagesJson}]]");
        const sessionId = "[[${sessionId}]]";
        const resendLimit = "[[${resendLimit}]]";
        let resendCounter = 0;
        let lastErrorIdSeen = null;
        const targetOrigin = "[[${targetOrigin}]]";

        //TODO: Resend logic?
        $(document).ready(function () {
            // function called when cancel button is pressed
            $("#cancelButton").click(function () {
                cancel(targetOrigin, lastErrorIdSeen)
            });
        });
    </script>
</head>
<body>
<div class="page-wrapper">
    <div th:replace="~{oauth/pages/authenticationCodeEmailSent :: authenticationCodeEmailSent}"></div> <!-- Needs resendEmail() and cancel() button handling-->
</div>
<div th:replace="~{components/errorModal :: errorModal(${targetOrigin})}"></div> <!-- Call with ID "errorModal" -->
</body>
</html>