@mixin margin-8             { margin: 8px; }
@mixin margin-top-8         { margin-top: 8px; }
@mixin margin-right-8       { margin-right: 8px; }
@mixin margin-bottom-8      { margin-bottom: 8px; }
@mixin margin-left-8        { margin-left: 8px; }
@mixin margin-horizontal-8  { margin-left: 8px; margin-right: 8px; }
@mixin margin-vertical-8    { margin-top: 8px; margin-bottom: 8px; }

.margin-8,                              .m-8   { @include margin-8 }
.margin-top-8,        .m-top-8,         .m-t-8 { @include margin-top-8 }
.margin-right-8,      .m-right-8,       .m-r-8 { @include margin-right-8 }
.margin-bottom-8,     .m-bottom-8,      .m-b-8 { @include margin-bottom-8 }
.margin-left-8,       .m-left-8,        .m-l-8 { @include margin-left-8 }
.margin-horizontal-8, .m-horizontal-8,  .m-h-8 { @include margin-horizontal-8 }
.margin-vertical-8,   .m-vertical-8,    .m-v-8 { @include margin-vertical-8 }


@mixin border-8             { border: 8px; }
@mixin border-top-8         { border-top: 8px; }
@mixin border-right-8       { border-right: 8px; }
@mixin border-bottom-8      { border-bottom: 8px; }
@mixin border-left-8        { border-left: 8px; }
@mixin border-horizontal-8  { border-left: 8px; border-right: 8px; }
@mixin border-vertical-8    { border-top: 8px; border-bottom: 8px; }

.border-8,                              .b-8   { @include border-8 }
.border-top-8,        .b-top-8,         .b-t-8 { @include border-top-8 }
.border-right-8,      .b-right-8,       .b-r-8 { @include border-right-8 }
.border-bottom-8,     .b-bottom-8,      .b-b-8 { @include border-bottom-8 }
.border-left-8,       .b-left-8,        .b-l-8 { @include border-left-8 }
.border-horizontal-8, .b-horizontal-8,  .b-h-8 { @include border-horizontal-8 }
.border-vertical-8,   .b-vertical-8,    .b-v-8 { @include border-vertical-8 }

@mixin padding-8            { padding: 8px; }
@mixin padding-top-8        { padding-top: 8px; }
@mixin padding-right-8      { padding-right: 8px; }
@mixin padding-bottom-8     { padding-bottom: 8px; }
@mixin padding-left-8       { padding-left: 8px; }
@mixin padding-horizontal-8 { padding-left: 8px; padding-right: 8px; }
@mixin padding-vertical-8   { padding-top: 8px; padding-bottom: 8px; }

.padding-8,                              .p-8   { @include padding-8 }
.padding-top-8,        .p-top-8,         .p-t-8 { @include padding-top-8 }
.padding-right-8,      .p-right-8,       .p-r-8 { @include padding-right-8 }
.padding-bottom-8,     .p-bottom-8,      .p-b-8 { @include padding-bottom-8 }
.padding-left-8,       .p-left-8,        .p-l-8 { @include padding-left-8 }
.padding-horizontal-8, .p-horizontal-8,  .p-h-8 { @include padding-horizontal-8 }
.padding-vertical-8,   .p-vertical-8,    .p-v-8 { @include padding-vertical-8 }