DB_HOST=x
DB_PORT=5432
DB_USERNAME=custodial_wallet_app
DB_PASSWORD=x
DB_DATABASE=custodial_wallet_x
DB_SCHEMA=custodial_wallet
DB_POOL_SIZE=10
PROVIDER_MSA_ID=1
CONTACTS_CSV_FILE_LOCATION=/Users/YOUR_USER/some/path/something.csv
