{{domain}} wants you to sign in with your Frequency account:
frequency:{{chainReference}}:{{userAddress}}

{{#showStatement}}{{statement}}


{{/showStatement}}URI: {{uri}}
Version: {{version}}
Nonce: {{nonce}}
Chain ID: frequency:{{chainReference}}
Issued At: {{issuedAt}}
