<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Provider Permission</title>
</head>
<body>
<div th:unless="${#lists.isEmpty(props.permissionMessages)}" class="add-provider payload" th:fragment="addProvider">
    <div class="add-provider-title">
        <h5 data-th-text="#{siwa.payloads.add-provider.title}"></h5>
        <div class="add-provider-desc small-text inline-text">
            <p data-th-text="#{siwa.payloads.add-provider.desc}"></p>
            <p data-th-text="${props.providerName}"></p>
        </div>

    </div>
    <div class="add-provider-permissions padding-horizontal-16 padding-bottom-8">
        <div class="perm-list" th:each="permission : ${props.permissionMessages}" data-testid="permissions-list">
            <img class="perm-icon" th:with="iconSrc='~/img/icons/__${permission}__.svg'" th:src="@{${iconSrc}}" style="max-width:40px">
            <p class="perm-text small-text" data-th-text="#{${permission}}"></p>
        </div>
    </div>
</div>
</body>
</html>