management.endpoints.web.exposure.include=*
management.endpoint.health.show-details=always

unfinished.custodial-wallet.db.service.createSchema=true
unfinished.custodial-wallet.db.service.schema=custodial_wallet

spring.r2dbc.username=custodial_wallet_app
spring.r2dbc.password=x
spring.r2dbc.url=r2dbc:postgresql://localhost:5432/custodial_wallet_dev?schema=${unfinished.custodial-wallet.db.service.schema}
unfinished.custodial-wallet.ro.r2dbc.url=r2dbc:postgresql://localhost:5432/custodial_wallet_dev?schema=${unfinished.custodial-wallet.db.service.schema}

spring.r2dbc.pool.enabled=true
spring.r2dbc.pool.max-life-time=300000
spring.r2dbc.pool.max-create-connection-time=1000
spring.r2dbc.pool.max-size=20
unfinished.custodial-wallet.r2dbc.statement.timeout.millis=5000

springdoc.swagger-ui.path=/api

spring.thymeleaf.cache=false
spring.thymeleaf.mode=HTML
spring.thymeleaf.encoding=UTF-8
spring.thymeleaf.prefix=file:src/main/resources/templates/
spring.web.resources.static-locations=file:src/main/resources/static/
spring.web.resources.cache.period=0

unfinished.show.track.trace.front.end=true
unfinished.enable.stack.trace=true

unfinished.custodial-wallet.aws-sns.region=us-east-2
unfinished.custodial-wallet.aws-sns.service_endpoint=https://sns.us-east-2.amazonaws.com

unfinished.custodial-wallet.aws.access_key=<key>
unfinished.custodial-wallet.aws.secret_key=<secret>
unfinished.custodial-wallet.aws.session_token=<token>

unfinished.custodial-wallet.aws-ses.region=us-east-2
unfinished.custodial-wallet.aws-ses.source_name=Saas Devs
unfinished.custodial-wallet.aws-ses.primary.percentage.int=50
unfinished.custodial-wallet.aws-ses.source_email=saas-devs@unfinished.com
unfinished.custodial-wallet.aws-ses.secondary_source_email=saas-devs@unfinished.com

unfinished.custodial-wallet.aws-ses.login_template_name=FrequencyAccessLoginTemplate
unfinished.custodial-wallet.aws-ses.signup_template_name=FrequencyAccessSignupTemplate
unfinished.custodial-wallet.aws-ses.direct_login_template_name=FrequencyAccessDirectLoginTemplate
unfinished.custodial-wallet.aws-ses.add_identifier_template_name=FrequencyAccessDirectLoginTemplate

unfinished.custodial-wallet.aws-ses.login_template_otp_name=FrequencyAccessLoginTemplateOTP
unfinished.custodial-wallet.aws-ses.signup_template_otp_name=FrequencyAccessSignupTemplateOTP
unfinished.custodial-wallet.aws-ses.direct_login_otp_template_name=FrequencyAccessDirectLoginTemplateOTP
unfinished.custodial-wallet.aws-ses.add_identifier_otp_template_name=FrequencyAccessDirectLoginTemplateOTP

unfinished.custodial-wallet.aws-ses.community-rewards.tokens_received=CommunityRewardsTokensReceivedLinkTemplate

unfinished.custodial-wallet.aws-kms.region=us-east-2
unfinished.custodial-wallet.aws-kms.service_endpoint=http://localhost:4566
unfinished.custodial-wallet.aws-kms.key_alias=alias/custodial_wallet_dev

unfinished.custodial-wallet.ss58.type=42

unfinished.custodial-wallet.redis.expiration=300s
unfinished.custodial-wallet.signup.expiration=10
unfinished.custodial-wallet.timer.expiration=90s
unfinished.custodial-wallet.signup.resend_limit=5

unfinished.custodial-wallet.frequency.address=ws://localhost:9944
unfinished.custodial-wallet.frequency.dynamicValuesReadLockTimeout=1s
unfinished.custodial-wallet.frequency.dynamicValuesWriteLockTimeout=1s
unfinished.custodial-wallet.frequency.cacheSize=100
unfinished.custodial-wallet.frequency.providerNameCache.timeToLive=60s

unfinished.custodial-wallet.frequency.graph.schema.ids={7,8,9,10}
sentry.environment=dev

unfinished.custodial-wallet.ses.cache-timeout=5m

unfinished.custodial-wallet.frequency.reconnection.policy.max.attempts=30

spring.data.redis.connect-timeout=1s
spring.data.redis.timeout=5s

spring.data.redis.host=localhost
spring.data.redis.port=6379
spring.data.redis.database=0

unfinished.custodial-wallet.postMessage.targetOrigin=https://www.mewe.com

unfinished.custodial-wallet.keypair.seed=0x0a0a0a0a0a0a0a0a0a0a0a0a0a0a0a0a0a0a0a0a0a0a0a0a

sentry.dsn=https://somestring@sentry.liberti.social/2
sentry.level.event=ERROR
sentry.level.breadcrumb=INFO
sentry.release=custodial-wallet@1.0

unfinished.custodial-wallet.schema.id.permissions={{5}:'update-identity',{7,8,9,10}:'graph',{16}:'tombstone',{17}:'broadcast',{18}:'reply',{19}:'update',{4}:'reaction',{15}:'profile-resources'}

unfinished.custodial-wallet.admin.access.token=ABCABCABCABCABC

unfinished.custodial-wallet.twilio.from_number="+15005550006"
unfinished.custodial-wallet.twilio.account_sid="AAAAaccount_sidBBBBB"
unfinished.custodial-wallet.twilio.auth_token="AUTHvaluefromtwilioTOKEN"
unfinished.custodial-wallet.twilio.socket_timeout=10000ms
unfinished.custodial-wallet.twilio.connection_timeout=1000ms
unfinished.custodial-wallet.twilio.maxConnections=50
unfinished.custodial-wallet.twilio.connectionPoolTimeout=1000ms

unfinished.custodial-wallet.sms.direct_login_template_name=frequencyAccessDirectLogin
unfinished.custodial-wallet.sms.add_identifier_template_name=addIdentifier
unfinished.custodial-wallet.sms.webview_signup_template_name=frequencyAccessWebviewSignUp
unfinished.custodial-wallet.sms.webview_login_template_name=frequencyAccessWebviewLogin

unfinished.custodial-wallet.admin.shared.secret=AAA_shared_secret_BBBB
unfinished.custodial-wallet.admin.shared.secret.rebuild.signup.payload=AAA_shared_secret_BBB
unfinished.custodial-wallet.admin.schema.ids.rebuild.signup.payload={11,12,13,14}
unfinished.custodial-wallet.hostname=http://localhost:8080
unfinished.custodial-wallet.schema.id.permissions.messages={{5}: 'permission.account.update-identity', {7,8,9,10}:'permission.account.graph', {16}: 'permission.tombstone', {17}: 'permission.broadcast', {18}: 'permission.reply', {19}: 'permission.update', {4}: 'permission.reaction',{15}:'permission.account.profile-resources'}

unfinished.custodial-wallet.revocation.enabled=true
unfinished.custodial-wallet.display.add_contact.enabled=false

unfinished.custodial-wallet.handle.reserved_words={'admin', 'everyone', 'all', 'administrator', 'mod', 'moderator', 'here', 'channel'}
unfinished.custodial-wallet.handle.blocked_characters={'"', '#', '%', '(', ')', ',', '.', ':', ';', '<', '>', '@', '\\', '`', '{', '}'}

unfinished.custodial-wallet.audit-session-record.enabled=false

unfinished.custodial-wallet.incorrect.token.retry.limit=5

unfinished.custodial-wallet.output.sms-code.enabled=true

unfinished.custodial-wallet.environment=dev

unfinished.custodial-wallet.password.enabled=true
unfinished.custodial-wallet.password.encoder_rounds=10
unfinished.custodial-wallet.password.encoder_type=BCRYPT

unfinished.custodial-wallet.claim-service.service_endpoint=http://localhost:8081
unfinished.custodial-wallet.claim-service.maxConnections=200
unfinished.custodial-wallet.claim-service.connectionPoolTimeout=1000ms
unfinished.custodial-wallet.claim-service.connectionTimeout=1000ms
unfinished.custodial-wallet.claim-service.readTimeout=10000ms
unfinished.custodial-wallet.claim-service.writeTimeout=10000ms

unfinished.custodial-wallet.notification-service.service_endpoint=http://localhost:8081
unfinished.notificationservice.api.shared.secret=123456
unfinished.custodial-wallet.notification-service.maxConnections=200
unfinished.custodial-wallet.notification-service.connectionPoolTimeout=1000ms
unfinished.custodial-wallet.notification-service.connectionTimeout=1000ms
unfinished.custodial-wallet.notification-service.readTimeout=10000ms
unfinished.custodial-wallet.notification-service.writeTimeout=10000ms

unfinished.custodial-wallet.logged-in-callback.enabled=true

unfinished.custodial-wallet.passkey.origin=https://passkey.amplica.io:8080
unfinished.custodial-wallet.passkey.rpId=passkey.amplica.io

unfinished.custodial-wallet.chain.reference=dev

unfinished.custodial-wallet.siwa.use.get.ingress=true
unfinished.custodial-wallet.siwa.use.email.default=OTP

unfinished.custodial-wallet.keypair.ed25519.seed=0xe5be9a5092b81bca64be81d212e7f2f9eba183bb7a90954f7b76361f6edb5c0a

unfinished.custodial-wallet.whitelist.provider.localhost.allowed=true

unfinished.custodial-wallet.notification.api.rate.limit.count=10000
unfinished.custodial-wallet.notification.api.rate.limit.period=3600s

unfinished.custodial-wallet.hcaptcha.enabled=true
unfinished.custodial-wallet.hcaptcha.service_endpoint=https://api.hcaptcha.com
unfinished.custodial-wallet.hcaptcha.status_endpoint=https://www.hcaptchastatus.com
unfinished.custodial-wallet.hcaptcha.secret_key=0x0000000000000000000000000000000000000000
unfinished.custodial-wallet.hcaptcha.site_key=20000000-ffff-ffff-ffff-000000000002
unfinished.custodial-wallet.hcaptcha.include_user_ip=true
unfinished.custodial-wallet.hcaptcha.max_connections=200
unfinished.custodial-wallet.hcaptcha.connection_pool_timeout=1000ms
unfinished.custodial-wallet.hcaptcha.connection_timeout=1000ms
unfinished.custodial-wallet.hcaptcha.read_timeout=10000ms
unfinished.custodial-wallet.hcaptcha.write_timeout=10000ms
unfinished.custodial-wallet.hcaptcha.x.captcha.header.value=x

unfinished.custodial-wallet.siwa.passkey-wallet.enabled=true
unfinished.custodial-wallet.account.passkey-wallet.enabled=true
unfinished.custodial-wallet.passkey.username=Frequency Access Passkey Wallet

unfinished.custodial-wallet.provider_metadata.cache.size=32
unfinished.custodial-wallet.provider_metadata.cache.expiration=30s

unfinished.custodial-wallet.verifiable-credentials.valid-from-delay=0s

unfinished.custodial-wallet.signup.resend_freebee=1

unfinished.custodial-wallet.matomo.enabled=false
unfinished.custodial-wallet.matomo.url=http://localhost:8088/
unfinished.custodial-wallet.matomo.site-id=1
unfinished.custodial-wallet.matomo.heartbeat-enabled=false

unfinished.custodial-wallet.localized.messages.cache.size=32

unfinished.custodial-wallet.client.frequency.gateway.account.service_endpoint=http://placholder.com/account-service/api
unfinished.custodial-wallet.client.frequency.gateway.account.maxConnections=200
unfinished.custodial-wallet.client.frequency.gateway.account.connectionPoolTimeout=1s
unfinished.custodial-wallet.client.frequency.gateway.account.connectionTimeout=1s
unfinished.custodial-wallet.client.frequency.gateway.account.readTimeout=10s
unfinished.custodial-wallet.client.frequency.gateway.account.writeTimeout=10s

unfinished.custodial-wallet.admin.plus-address.whitelist-enabled=false
unfinished.custodial-wallet.admin.plus-address.whitelist=localhost:8080,unfinished.com,projectliberty.io

unfinished.custodial-wallet.admin.load-capacity-email-testing.enabled=true
unfinished.custodial-wallet.admin.load-capacity-email-testing.whitelist=example.com

unfinished.custodial-wallet.frequency.developer-terms.copy=By integrating with Frequency Access, you agree to the [Developer Terms of Service]

unfinished.custodial-wallet.migrate-keys.enabled=true
unfinished.custodial-wallet.migrate-keys.existing-key-pair-type=Sr25519
unfinished.custodial-wallet.migrate-keys.key-usage-type=ACCOUNT
unfinished.custodial-wallet.migrate-keys.missing-key-pair-type=SECP256K1
unfinished.custodial-wallet.migrate-keys.keys-per-batch=3
unfinished.custodial-wallet.migrate-keys.capacity-cost-per-key=1000
unfinished.custodial-wallet.migrate-keys.block-expiration=10

unfinished.custodial-wallet.record.user-activity.expiration=30d
unfinished.custodial-wallet.api.account.change-handle.period=30d
unfinished.custodial-wallet.account.change-handle.enabled=true
unfinished.custodial-wallet.siwa.ics.provider-msa-whitelist=1

unfinished.custodial-wallet.ics.storage-service.hostname=https://storage.example.com
unfinished.custodial-wallet.ics.can.return.existing.context.item.key=false
