<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Collapsible (With Arrow)</title>
</head>
<body>
<ul class="collapsible expandable" th:fragment="exampleCollapsible">
    <li>
        <div class="collapsible-header with-arrow">
            <h5 class="padding-right-56">What is a Collapsible (With Arrow)?</h5>
        </div>
        <div class="collapsible-body">
            <p>This is a collapsible (with arrow)</p>
        </div>
    </li>
    <li>
        <div class="collapsible-header with-arrow">
            <h5 class="padding-right-56">How do I use it?</h5>
        </div>
        <div class="collapsible-body">
            <p>copy/paste (make sure to include the classes in this example)</p>
        </div>
    </li>
</ul>
</body>
</html>