<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example Modal</title>
</head>
<body>
<div id="example-modal" class="modal" th:fragment="exampleModal">
    <a class="modal-close corner-close" href="#" ><i class="material-icons small">close</i></a>
    <div class="modal-content">
        <div class="modal-header">
            <h4>Modal Title</h4>
            <p>Modal Subtext/Description</p>
        </div>
        <div class="modal-body">
            <p>Modal content, normally in the form of an expanded description or a form to fill out like for the login modals</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="modal-close btn">Close</a>
        </div>
    </div>
</div>
</body>
</html>